<center><h1>Photo Gallery</h1></center>

<table>
  
<tr>
<% @images.each_with_index do |image,index| %>
<% if index%3 == 0 && index !=0 %>
	</tr>
	<tr>
<% end %>
	<td>
		<figure>
		<%= link_to image_tag(image.avatar.url(:medium)),image %>
    	<figcaption><h4><%= image.title %></h4></figcaption>
		</figure>
	</td>

<% end %>
</tr>
</table>

<br />

<center><%= link_to 'New Image', new_image_path, :class=>"btn btn-primary btn-large" %></center>
