<center><h1>Photo Gallery</h1></center>

<table>
  
<tr>
<% @images.each_with_index do |image,index| %>
<% if index%3 == 0 && index !=0 %>
	</tr>
	<tr>
<% end %>
	<td><%= link_to image_tag(image.avatar.url(:medium)),image %>
    <h4><%= image.title %></h4></td>

<% end %>
</tr>
</table>

<br />

<center><%= link_to 'New Image', new_image_path %></center>
